@import url('https://fonts.googleapis.com/css?family=Amarante');
body {
  margin: 0;
  background: url("https://static.pexels.com/photos/196869/pexels-photo-196869.jpeg");
  background-size: cover;
  width: 100%;
  font-family: "Amarante", sans-serif;
}
* {box-sizing: border-box;}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
} 

/* BOARD */
.board h1 {
  margin-left: 8px;
}
.column-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  margin-left: 8px;
  list-style: none;
  position: relative;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px;
}
.column-add-card {
  cursor: pointer;
  border-radius: 10%;
  border: none;
  margin: 5px 8px;
  padding: 7px;
}
.column-title {
  text-align: center;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
  font-size: 22px;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
.header {
  display: flex;
  justify-content: center;
  margin: 50px;
}